.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 280px;
    margin: 5px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-top: 5px;
}